# Node modules
node_modules/
ReactNativeCliStructure/node_modules/
ExpoStructure/node_modules/

# iOS
ReactNativeCliStructure/ios/Pods/
ReactNativeCliStructure/vendor/

# Android
ReactNativeCliStructure/android/.gradle/
ReactNativeCliStructure/android/build/
ReactNativeCliStructure/android/app/build/

# Build
ReactNativeCliStructure/android/local.properties

# Expo
ExpoStructure/.expo/

# Misc
.DS_Store
*.log
